In [1]:
import pandas as pd
import numpy as  np
from scipy import stats
import scipy
import scipy.stats as sm
from scipy.stats import chi2_contingency

In [2]:
 ## Null hypothesis H0: the defective %  are equal by centre
## Alternate hypothesis Ha: the defective %  varies by centre

In [4]:
df=pd.read_csv('Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [9]:
df['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
df['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
df['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
df['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
obs_freq=np.array([[271,267,269,280],[29,33,31,20]])

In [15]:
obs_freq

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [16]:
chi2,p,df,exp=chi2_contingency(obs_freq)

In [17]:
chi2

3.858960685820355

In [18]:
p

0.2771020991233135

In [19]:
df

3

In [20]:
exp

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [ ]:
## At 5% significance level , alpha=0.05
## p value=0.277
## here p value > alpha value
## Then fail to reject the null hypothesis
## The defective %  are equal for every centre