In [7]:
import pandas as pd
import numpy as  np
from scipy import stats
import scipy
import scipy.stats as sm
from scipy.stats import chi2_contingency

In [ ]:
## Null hypothesis H0: All the proportions are equal
## Alternate hypothesis Ha: All the proportions are not equal

In [3]:
df=pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
obs_freq=np.array([[50,142,131,70],[435,1523,1356,750]])

In [6]:
obs_freq

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [8]:
chi2,p,df,exp=chi2_contingency(obs_freq)

In [9]:
chi2

1.595945538661058

In [10]:
p

0.6603094907091882

In [11]:
df

3

In [12]:
exp

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [ ]:
## At 5% significance level , alpha=0.05
## p value=0.066
## here p value > alpha value
## Then fail to reject the null hypothesis
## All the proportions are equal.